name: 'test-browserstack-actions'
on:
  workflow_dispatch

jobs:
  setup-env:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
    steps:
      - name: 'Setup Browserstack env'
        uses: 'akhillb/github-actions/setup-env@akhillb/to_poc'
        with:
          username: ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
